
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
}

<section class="blog-list px-3 py-5 p-md-5 mt-4">
    <div class="container mt-4" align="center">
        <img src="~/Content/Files/assets/images/404.png" style="height: 350px"/>
        <h4 class="mt-4 mb-4">Aradığınız sayfa bulunamadı. </h4>
        <p><a class="btn btn-outline-primary" href="javascript:window.history.back();">Geri dön.</a></p>
    </div>
</section>

