
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Sayfasına Hoşgeldiniz</h2>
<hr/>
<div align="left">
    <h4><a href="/admin/blogs/">Blog Yazıları</a></h4>
    <h4><a href="/admin/categories/">Kategoriler</a></h4>
    <h4><a href="/admin/archives/">Arşivler</a></h4>
</div>
<div align="right">
    <a href="/auth/logout" class="btn btn-danger btn-sm">Admin Hesabından Çıkış Yap</a>
</div>

